body {
    background-color: #f1faee;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    text-align: center;
    color: #1d3557;
}

img {
    padding: 3px;
}

#title {
    font-family: 'Squada One', cursive;
}
#sub-header {
    color: #457b9d;
}